.book-container {
    margin-right: 1vw;
    margin-top: 1.5vw;
    margin-bottom: 60px;
    background-image: url(../../../assets/hpgwarts.jpg);
    height: 100%;
    width: 99.5%;
    
  }
  .card-container {
    width: 20vw;
    padding-top: 10vh;
    padding-bottom: 1vh;
    padding-right: 1vh;
    margin-right: -20px;
  }
  .header{
    background-color:azure;
  }
  .display{
    display: contents;
  }
  .container1{
    height: 250vh;
    width:150vw;
  }
  .text{
    text-align: center;
    margin-left: 20px;
    color: dimgray;
  }
  .txt{
    margin-top: 60px;
    margin-bottom: -20px;
    text-align: center;
    color: dimgray;
  }